# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
# All (.) dot directories: .cache, .config, etc.
notebooks/**/.*

# Build artifacts
dist/

# Datasets and results
notebooks/results/**/*.csv
notebooks/datasets/**/*.csv
